@media screen and (min-width: 768px) {
  .site-main .site-banner .site-title h1 {
    font-size: 5rem;
  }

  .site-main .about-area .about-title h2 > span {
    /* font-size: 31px; */
    letter-spacing: 15px;
    font: normal bold 49px/60px var(--roboto);
  }

} 

@media screen and (min-width: 1024px) {
  .site-main .about-area .about-title h2 > span {
    letter-spacing: 15px;
    font: normal bold 49px/60px var(--roboto);
  }

  .site-main .about-area .img-fluid {
    height: auto;
    max-width: initial;
  }
}
