/* import fonts from fonts.css */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);

/* Global css */
@import url(./partials/_global.css);


/* start navigation */
.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}


/* start navigation */
.header-area .main-menu .navbar-nav .nav-link {
  font: normal 500 15px/2px var(--roboto);
  font-family: var(--roboto);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1.7rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* end navigation */

/* Banner Area */
.site-main .site-banner {
  background: url(../img/banner/blue-banner.png) no-repeat 0% 50%;
}

.site-main .site-banner .site-title h3 {
  padding-top: 35%;
  font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 17vw;
  background: var(--gradient-color);
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 5rem 0;
  width: 90rem;
}
/* End banner Area */


/* Start About Area */
.site-main .about-area {
  padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span {
  font: normal bold 30px/60px var(--roboto);
}

.site-main .about-area .about-title .paragrapgh > p {
  padding: 4rem 0;
}

.about-me-pic {
  border: none;
}

/* End About Area */


/* Start Portfolio */

h3 {
  padding: 1rem 0 0.5rem 0;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.portfolio-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}
/* End Portfolio */


/* Social Media */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
  background-color: transparent;
}

.socialcon {
  width: 2.5rem;
  height: 2.5rem;
}
/* End Social Media */


/* start footer */
footer {
  background-color: whitesmoke;
  padding: 1rem;
  text-align: center;
  margin: 1.5rem 0 0;
}

.footer-text {
  font: normal 15px var(--roboto);
}
/* end footer */


/* contact me */
.contact {
  margin-top: 2rem;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.sub-btn {
  width: 100%;
}

.scroll-up{
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* end contact me */
